.comWidth{
    width: 1200px;
    margin: 0 auto;
}

.topBar{
    background: #073f7b;
    height: 28px;
}
.topBar ul{

}
.topBar ul li{
    display: inline;
    line-height: 28px;
    padding: 0 6px;
}
.topBar ul li a{
    color: #c1cdec;
}
.topBar ul li a:hover{
    color: #ff8431;
}

.logoBar{
    height: 71px;
    background: #004EA1;
    padding: 22px 0;
    border-top: 1px inset #1259A5;
    border-bottom: 1px inset #1259A5;
    overflow: hidden;
}
.logo_bg{
    margin-top:-10px;
}
.search{
    height:34px;
    width: 200px;
    margin-left: 950px;
    position: relative;
}
.search_box{
    height: 32px;
    width: 200px;
    padding: 1px 30px 1px 10px;
    background: #04458A;
    opacity: 0.75;
    position: absolute;
    left: 0;
    top: 32px;
}
.search_box:checked{
     /*border: 2px solid #004EA1;*/
    border: 1px solid #FFF:
}

.search_btn{
    height: 32px;
    width: 40px;
    padding: 1px 6px 1px 6px;
    position: absolute;
    left: 200px;
    top: 32px;
    background: url("../img/but.png");
    cursor: pointer;
}
.search_btn:hover{
    border: 1px solid #073f7b;
}

.navBar{
    height: 46px;
    background: #004EA1;
}
.navList>li{
    height: 46px;
    padding: 0 40px;
    float: left;
    cursor: pointer;
    position: relative;
}
.navList li>a{
    color: #FFF;
    line-height: 46px;
    font-size: 16px;
    text-align: center;
    width: 144px;
}
.navList li div{
    width: 180px;
    background: #073f7b;
    position: absolute;
    left: 0;
    top: 46px;
    display: none;
    z-index: 10;
}
.navList>li div a{
    font-size: 14px;
    text-align: left;
    line-height: 38px;
    margin-left: 20px;
}
.navList li:hover{
    background: #073f7b;
}
.navList>li:hover > div{
    display: block;
}


.container{
    height: 394px;
    width: 1200px;
    position: relative;
    overflow: hidden;
}
.container input,
.container input + div{
    position: absolute;
    bottom: 13px;
}
.container input{
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
}
.container input + div{
    z-index: 100;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #FFC600;
}
.container input:checked + div{
    background: #FFF;
}
#control-1,#control-1 + div{    left:530px;    }
#control-2,#control-2 + div{    left:558px;    }
#control-3,#control-3 + div{    left:586px;    }
#control-4,#control-4 + div{    left:614px;    }
#control-5,#control-5 + div{    left:642px;    }
#control-6,#control-6 + div{    left:670px;    }
.scroll{
    height: 394px;
    width: 7205px;                  /*不给这个宽度如何让panel并排显示  &&  下面用像素控制移动的话如何设置自适应*/
    /*overflow: hidden;*/
    position: relative;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    overflow: hidden;
}
.panel{
    float: left;
}
#control-1:checked ~ .scroll{
    -webkit-transform: translateX(0);
}
#control-2:checked ~ .scroll{
    -webkit-transform: translateX(-1200px);
}
#control-3:checked ~ .scroll{
    -webkit-transform: translateX(-2400px);
}
#control-4:checked ~ .scroll{
    -webkit-transform: translateX(-3600px);
}
#control-5:checked ~ .scroll{
    -webkit-transform: translateX(-4800px);
}
#control-6:checked ~ .scroll{
    -webkit-transform: translateX(-6000px);
}

.tNews{
    height: 460px;
    width: 100%;
    position: relative;
}
.tNews_title{
    width: 1200px;
    height: 66px;
    /*padding: 10px;*/
    margin: 10px auto;
    font-size: 22px;
    color: #000;
    line-height: 66px;
}
.tNews .comWidth{
    overflow: hidden;
}
.tNews_scroll{
    height: 374px;
    width: 6000px;
}
.tNews_scroll .panel{
    height: 374px;
    width: 376px;
    margin-right: 35px;
}
.tNews_scroll .panel img{
    height: 224px;
    width: 376px;
}
.tNews_panel_bottom{
    margin-top: 20px;
    width: 376px;
}
.tNpb_left{
    width: 67px;
    height: 68px;
    float: left;
    text-align: center;
}
.tNpb_left h3{
    width: 67px;
    height: 46px;
    background: #004EA1;
    color: #FFF;
    font-size: 28px;
    line-height: 46px;
}
.tNpb_right{
    float: right;
    width: 280px;
}
.tNpb_right span {
    color: #000;
    font-size: 16px;
}
/*.prev{*/
    /*height: 30px;*/
    /*width: 30px;*/
    /*background: red;*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*margin-left: -660px;*/
    /*margin-top: 20px;*/
    /*cursor: pointer;*/
/*}*/
/*.prev:checked ~ .comWidth .tNews_scroll{*/
    /*position: absolute;*/
    /*-webkit-transform: translateX(100px);*/
    /*-ms-transform: translateX(100px);*/
    /*-moz-transform: translateX(100px);*/
    /*-o-transform: translateX(100px);*/
    /*transform: translateX(100px);*/
    /*-webkit-transform-origin: 100% 0;*/
    /*-ms-transform-origin: 100% 0;*/
    /*-o-transform-origin: 100% 0;*/
    /*-moz-transform-origin: 100% 0;*/
    /*transform-origin: 100% 0;*/
/*}*/

.main{
    padding-top: 25px;
    height: 652px;
}
.main_Left{
    height: 652px;
    width: 760px;
}
.News_title{
    height: 52px;
    font-size: 22px;
    color: #000;
    line-height: 52px;
    padding: 0 10px 0 5px;
    border-bottom: 1px solid #E0E0E0;
}
.News_title p{
    float: right;
    font-size: 12px;
    color: #666666;
}
.info{
    padding: 11px 10px 11px 5px;
}
.info_date{
    width: 145px;
    font-size: 16px;
    font-family: Georgia;
    float: left;
    color : #999;
    border-right: 1px solid #d0d0d0;
}
.info a{
    font-size: 14px;
    margin-left: 30px;
}
.main_Right{
    font-size: 14px;
    width: 410px;
    /*height: 654px;*/
}
.Media-Focus{
    width: 370px;
    padding: 20px;
    background: #f5f5f5;
    margin-bottom: 10px;
}
.Media{
}
.Media-box>img{
    padding-right: 25px;
}
.Media-box{
    width:100%;
    padding-bottom: 8px;
    border-bottom: 1px dotted #d0d0d0;
}
.Media_p1{
    width: 207px;
}
.Media-box ul li{
    width: 210px;
    float: right;
}
.Media li{
    border-bottom: 1px dotted #d0d0d0;
    line-height: 27px;
}
.Media>ul>li{
    padding: 8px 0;

}
.Media-st2{
    width: 210px;
}
.Media-st2 li{
    height: 28px;
    font-size:12px;
    line-height: 28px;
}
.Media_focus{
    font-size: 18px;
}
.Media_report{
    color: #FFF;
    background: #ADB9C6;
}
.detail{
    color: #1259A5;
}
.detail:hover{
    color: #ff8828;
}
.main a:hover,
.tNews a:hover{
    color: #1259A5;
}

.wLink{
    padding-top: 25px;
    /*overflow: hidden;*/
}
.wLink_title {
    height: 52px;
    font-size: 22px;
    color: #000;
    line-height: 52px;
    padding: 0 10px 0 5px;
    border-bottom: 3px solid #1259A5;
}
.wLink_title>a{
    font-size: 12px;
    float: right;
}
.wLink_title>a:hover{
    color: #1259A5;
}
.wLink ul{
    height: 70px;
    padding: 20px 0;
}
.wLink ul li{
    float: left;
    margin-right: 22px;
}
.wLink ul li img{
    height: 70px;
    width: 280px;
}
.wLink ul .wLink_no{
    margin-right: 0;
}

.foot{
    padding: 50px 0 42px 0;
    background: url(../img/foot_bg.jpg) ;
}
.foot a:hover{
    color: #ff7435;
}
.foot_left{
    width: 460px;
    line-height: 30px;
    padding: 10px 0;
    height: 150px;
    margin:0;
}
.foot_left span{
    font-size: 18px;
    color: #FFF;
}
.foot_left ul li{
    line-height: 36px;
    height: 36px;
    float: left;
}
.foot_left ul li a{
    font-size: 13px;
    color: #a6c4df;
    margin-right: 50px;
}
.foot_mid{
    padding: 35px 80px ;
    border-left: 1px solid #3d6998;
    border-right: 1px solid #3d6998;
}
.foot_right img{
    height: 102px;
    width: 102px;
    padding:0 90px;
}
.foot_right p{
    color: #FFF;
    text-align: center;
}

.copyRight{
    background: #001f41;
}
.copyRight .comWidth p{
    color: #FFF;
    line-height:40px;
}
.copyRight .comWidth p img{
    position: relative;
    top: 5px;
}




