.comWidth{
    width: 1200px;
    margin: 0 auto;
}

.topBar{
    background: #073f7b;
    height: 28px;
}
.topBar ul{

}
.topBar ul li{
    display: inline;
    line-height: 28px;
    padding: 0 6px;
}
.topBar ul li a{
    color: #c1cdec;
}
.topBar ul li a:hover{
    color: #c1cdec;
}

.logoBar{
    height: 71px;
    background: #004EA1;
    padding: 22px 0;
    border-top: 1px inset #1259A5;
    border-bottom: 1px inset #1259A5;
    overflow: hidden;
}
.logo_bg{
    margin-top:-10px;
}
.search{
    height:34px;
    width: 200px;
    margin-left: 950px;
    position: relative;
}
.search_box{
    height: 32px;
    width: 200px;
    padding: 1px 30px 1px 10px;
    background: #04458A;
    opacity: 0.75;
    position: absolute;
    left: 0;
    top: 32px;
}
/*.search_box:checked{*/
     /*border: 2px solid #004EA1;*/
/*}*/

.search_btn{
    height: 32px;
    width: 40px;
    padding: 1px 6px 1px 6px;
    position: absolute;
    left: 200px;
    top: 32px;
    background: url("../img/but.png");
    cursor: pointer;
}
.search_btn:hover{
    border: 1px solid #073f7b;
}

.navBar{
    height: 46px;
    background: #004EA1;
}
.navList>li{
    height: 46px;
    padding: 0 40px;
    float: left;
    cursor: pointer;
    position: relative;
}
.navList li>a{
    color: #FFF;
    line-height: 46px;
    font-size: 16px;
    text-align: center;
    width: 144px;
}
.navList li div{
    width: 180px;
    background: #073f7b;
    position: absolute;
    left: 0;
    top: 46px;
    display: none;
}
.navList>li div a{
    font-size: 14px;
    text-align: left;
    line-height: 38px;
    margin-left: 20px;
}
.navList li:hover{
    background: #073f7b;
}
.navList>li:hover > div{
    display: block;
}


.container{
    height: 394px;
    width: 1200px;
    position: relative;
    overflow: hidden;
}
.container input,
.container input + div{
    position: absolute;
    bottom: 13px;
}
.container input{
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
}
.container input + div{
    z-index: 100;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #FFC600;
}
.container input:checked + div{
    background: #FFF;
}
#control-1,#control-1 + div{    left:530px;    }
#control-2,#control-2 + div{    left:558px;    }
#control-3,#control-3 + div{    left:586px;    }
#control-4,#control-4 + div{    left:614px;    }
#control-5,#control-5 + div{    left:642px;    }
#control-6,#control-6 + div{    left:670px;    }
.scroll{
    height: 394px;
    width: 7205px;                  /*不给这个宽度如何让panel并排显示  &&  下面用像素控制移动的话如何设置自适应*/
    /*overflow: hidden;*/
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    overflow: hidden;
}
.panel{
    float: left;
}
#control-1:checked ~ .scroll{
    -webkit-transform: translateX(0);
}
#control-2:checked ~ .scroll{
    -webkit-transform: translateX(-1200px);
}
#control-3:checked ~ .scroll{
    -webkit-transform: translateX(-2400px);
}
#control-4:checked ~ .scroll{
    -webkit-transform: translateX(-3600px);
}
#control-5:checked ~ .scroll{
    -webkit-transform: translateX(-4800px);
}
#control-6:checked ~ .scroll{
    -webkit-transform: translateX(-6000px);
}

.tNews{
    height: 460px;
    width: 100%;
}
.tNews_title{
    width: 1200px;
    height: 66px;
    /*padding: 10px;*/
    margin: 10px auto;
    font-size: 22px;
    color: #000;
    line-height: 66px;
}
.tNews .comWidth{
    overflow: hidden;
}
.tNews_scroll{
    height: 374px;
    width: 6000px;
}
.tNews_scroll .panel{
    height: 374px;
    width: 376px;
    margin-right: 35px;
}
.tNews_scroll .panel img{
    height: 224px;
    width: 376px;
}
.tNews_panel_bottom{
    margin-top: 20px;
    width: 376px;
}
.tNpb_left{
    width: 67px;
    height: 68px;
    float: left;
    text-align: center;
}
.tNpb_left h3{
    width: 67px;
    height: 46px;
    background: #073f7b;
    color: #FFF;
    font-size: 28px;
    line-height: 46px;
}
.tNpb_right{
    float: right;
    width: 280px;
}
.tNpb_right span {
    color: #000;
    font-size: 16px;
}














